<html>
  {% include 'components/head.html' %}
  <body id="page-top">
    {% include 'components/header.html' %}
    <article>
      <div class="container">
        <div class="response">
          <!-- <h3>Select the desired option to get recommendations</h3> -->
	  <h3>Recommender Meets Social Network</h3>
        </div>
        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Give me recommendations based on my goodreads profile</a>
              </h3>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
              <div class="input_container">
                <p>
                  With this option, we will recommend you books taking into account all the books you have. </p>
                <form class="form" method="POST">
                  <input class="text_box" name="text" placeholder="Goodreads ID">
		  <p>Example: "https://www.goodreads.com/user/show/11645751-jerome" -> Input: 11645751 </p>
                  <button class="button has-spinner" type="submit" name='user_recs' value="Get Recommendations">
                    Get Recommendations

                  </button>
		 

                </form>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Recommend books based on my social network</a>
              </h3>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
              <div class="input_container">
                <p>
                 This option combines the books you and your friends rated into one unique identity. And recommend books for you considering your social network.
                </p>
		<form class="form" method="POST">
                  <input class="text_box" name="text" placeholder="Goodreads ID">
		  <p>Example: "https://www.goodreads.com/user/show/11645751-jerome" -> Input: 11645751 </p>
                  <button class="button has-spinner" type="submit" name='user_friends' value="Get Recommendations">
                    Recommend books !
     
                  </button>
                </form>
				
              </div>
            </div>
          </div>

          <div class="response">
            <h2>{{response}}</h2>
          </div>

          <div class="book_list">
            <!-- you can iterate on a list to add many items -->
            {% for chunk in toPass %}
            <div class="row">
              {% for book in chunk %}
              <div class="col-sm-4">
                {% include 'components/book.html' %}
              </div>
              {% endfor %}
            </div>
            {% endfor %}
          </div>
    </article>
  </body>
</html>
